
:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #b458ff;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color:#fff;
}

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/NewBg.png); */
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    padding: 10px 5%;
    max-height: 100vh;
}


#services{
    padding:30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: url("images/My.jpg") #030728 no-repeat center; */
    background-color: #080808;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

nav.sticky {
    position: fixed;
    /* background-color: rgba(7, 2, 2, 0.95); */
    background-color: #080808;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    color: #080808;
    z-index:1000;
    height: 45px;
    top: 0;
  }

  /* .modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  } */

  
  

.fa-circle-xmark{
    visibility: hidden;
    /* display: none; */
}



.logo{
    width: 120px;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text p{
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    opacity: 0;
  
    animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(40rem)rotateY(-20deg);
    }
    100%{
        transform: translateY(0)rotateY(0);
        opacity: 1;
    }
}


.header-text h1 span{
    color: #8343db;
}

#about{
    padding: 80px 0;
    color :#ababab;
}

.tab-contents ul{
    height: 10px;
}

.container-2{
    padding: 20px 5%;
    color :#ababab;
    height:100vh
}

/* .container-3{
    height: 100vh;
} */

.row{
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
   /* overflow: hidden; */
}

.about-col-1{
flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    height: 120%;
}

.about-col-2{
    flex-basis: 60%;
}

.MyAbout{
    font-size: 19px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

#services .sub-title{
    padding-left: 70px;
    padding-bottom: 50px;
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}

.tab-links::after{
    content:" ";
    width: 0;
    height: 3px;
    background: #8343db;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:0.5s
}

.tab-links.active-link::after{
    width:100%;
}

active-link{
    content:"";
    width:100%;
    height: 3px;
    background: #8343db;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
} 

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#8343db;
    font-size: 17px;
}

.tab-contents{
    display: none;
}

.tabcontents__active-tab{
    display:block;
}


    .card-item{
        color: #fff;
        user-select: none;
        background: rgba(255, 255, 255, 0.2);
        width: 400px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        height: fit-content;
    }

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
    height: 350px;
}

.swiper-pagination-bullet{
    background-color: #fff;
    height: 25px;
    width: 25px;
}

.swiper-slide-button{
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
    height: 15px;
    width: 15px;
}

.swiper-slide-button:hover{
    color: #8343db;
}

.slider__btn:hover{
    background-color: #8343db;
    color: #fff;
}



.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px; 
}

.services-list div a {
    text-decoration:underline;
    font-size:18px;
    margin-top:20px;
    display:inline-block;
    color:#fff;
    margin-bottom: 20px;
}

.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  .btn--close-modal_2 {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  .modal__header{
    font-size: 50px;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 7px;
    font-weight: 400;
    color: #fff;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #080808;
    padding: 3rem 6rem 7rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    border: 2px solid #e6d3ccda;
    border-radius: 8px;
  }

  .modal_2 {
    position: fixed;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #080808;
    padding: 3rem 6rem 7rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    border: 2px solid #e6d3ccda;
    border-radius: 8px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    
  }

  .hidden2{
    visibility: hidden;
    opacity: 0;
  }

.services-list div:hover{
    background:#110422;
    /* transform:translateY(-6px) */
}

.video-wrapper{
    width:100%;
    height: 100%;
    align-items: center;
    margin-top: 5px;
    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
}

.video-wrapper:hover .controls{
    transform: translateY(0);
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(calc(100% - 0.5rem));
    transition: transform 0.4s;
}

.buttons{
    padding: 2rem 1rem 1rem 1rem;

}

.buttons button{
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i{
    font-size: 2.8rem;
    color: #fff;
}

.video-bar-wrapper{
    width: 100%;
    /* height: 0.5rem; */
    height: 7px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar{
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.2s linear;
}


.slider {
    max-width: 100rem;
    height: 100vh;
    margin: 15px 0 ;
    position: relative;
    border-radius: 10px;
  
    /* IN THE END */
    overflow: hidden;

  }

 

  .slide {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    /* height: 40rem; */
    height: 100vh;
    padding: 5rem 10rem ;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
  }

  .slide > img {
    /* Only for images that have different size than slide */
    width: 12%;
    height: 18%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 20%;
    height: 2.5rem;
    width: 2.0rem;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
  }

 
  .projectsOverview{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding:0 60px;
  }


  .projectsOverview h1{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 520;
    font-family:"Libre Baskerville", serif;
    font-style: normal;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
  }

  .projectsOverview p{
    font-size:20px;
    margin-bottom: 25px;
    font-family:"Libre Baskerville", serif;
  }

  .projectsOverview a{
    color: #8343db;
    text-decoration: underline;
    cursor: pointer;
    font-family:"Libre Baskerville", serif;
    font-size: 15px;
  }


  
  .slider__btn--left {
    left: 3%;
    transform: translate(-50%, -50%);

  }
  
  .slider__btn--right {
    right: 3%;
    transform: translate(50%, -50%);
  
  }



.btn{
display: block;
margin:30px auto;
width: fit-content;
border: 1px solid #5c0a37;
padding: 14px 50px;
border-radius: 6px;
text-decoration:none;
color:#ece6e6;
transition:background 0.5s
}

.btn:hover{
    background:   #1e0442;
}

.contact-left{
    flex-basis:35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #1e0442;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition:transform 0.5s;
}

.social-icons a:hover{
    color: #5c0a37;
    transform:translateY(-5px);
}

.btn.btn_2{
    display:inline-block;
    color: #d6cee0;
}

.contact-right form{
    width: 100%;
}

.tab-contents a{
    color: #5c0a37;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #42343c;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    overflow: hidden;
}

form .btn_2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #080808;
}

#contact{
    margin-top: 30px;

}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #5c0a37;
}

html{scroll-behavior: smooth};


nav .fa-regular{
    display: none;
    visibility: hidden;

}

nav .fa-solid{
     display: none;
     visibility: hidden;
}

/* MAKING THE WEBSITE RESPONSIVE TO SMALLER SCREEN SIZE */

@media only screen and (max-width:600px){


.contact-left .btn.btn_2{
      display: flex;
    align-items: center;
    justify-content: center;
}

.contact-right .btn .btn_2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition:transform 0.5s;
}

#about{
    padding: 10px 0;
    color :#ababab;
}

.services-list div{
    padding:50px 20px
}

.services-list div .errors{
   padding-bottom: 10px;
}

    #header{
        background-image: url(images/)
    }

    .sub-title{
        text-decoration: 2px underline;
    }

.slider__btn--right{
    border-radius: 50px;
    width: 30px;
    height: 25px;
    padding-bottom: 10px;
}

    .header-text{
        margin-top: 100%;
        font-size:16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-regular{
        display: block;
        visibility: visible;
        font-size: 25px;
    }
    nav .fa-solid{
        display: block;
        visibility: visible;
        font-size: 25px;
    }

    nav ul{
        background: #2c212e;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 300px;
        padding-top: 50px;
        z-index: 2;
        transition:right 0.5s;
        align-items: center;
        opacity: 0.9;
    }



    nav ul li{
        display: block;
        margin: 25px;
        align-items: center;
        /* display: flex; */
        
    }



    /* nav ul */
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size:40px;
        text-align: center;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-top: 80px;
        margin-bottom: 120px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
      font-size: 16px;
      margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        text-align: center;
    }
/* 
    .container{
        margin-bottom: 15px;
    }
    .slider{
        height: 100vh;
    } */
    #contact{
        margin-top: 110px;
    }

    #services{
        margin-top: 800px;
    }

    .sub-title{
       text-align: center;
       margin-bottom: 20px;
    }
    #services .sub-title{
        margin-right: 15%;
    }
     #contact{
        margin-top: 170px;
        margin-bottom: 10px;
    }
    #copyright{
        margin-top: 250px;
     
    }

    .modal {
        color: #fff;
        user-select: none;
        background: rgba(255, 255, 255, 0.2);
        width: 400px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        height: fit-content;
      }
      .modal__header{
        font-size: 20px;
      }

      .btn--close-modal{
        font-size: 27px;
        right: 15px;
      }

    form .btn_2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #080808;
    align-items: center;
    justify-content: center;
}

form .btn.btn_2{
    display: flex;
    align-items: center;
    justify-content: center;
}


    } 

    
@media only screen and (max-width:412px){


.contact-left .btn.btn_2{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .btn.btn_2{
    display: flex;
    align-items: center;
    justify-content: center;
}


 .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition:transform 0.5s;
}   


form .btn_2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #080808;
    align-items: center;
    justify-content: center;
}

.services-list div{
    padding:50px 20px
}

.services-list div .errors{
   margin-bottom: 10px;
}

    #about{
    padding: 5px 0;
    color :#ababab;
    margin-top: 10px;
}

    #header{
        background-image: url(images/)
    }

    .sub-title{
        text-decoration: 2px underline;
    }

.slider__btn--right{
    border-radius: 50px;
    width: 30px;
    height: 25px;
    padding-bottom: 10px;
}

    .header-text{
        margin-top: 100%;
        font-size:16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-regular{
        display: block;
        visibility: visible;
        font-size: 25px;
    }
    nav .fa-solid{
        display: block;
        visibility: visible;
        font-size: 25px;
    }

    nav ul{
        background: #2c212e;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 300px;
        padding-top: 50px;
        z-index: 2;
        transition:right 0.5s;
        align-items: center;
        opacity: 0.9;
    }



    nav ul li{
        display: block;
        margin: 25px;
        align-items: center;
        /* display: flex; */
        
    }



    /* nav ul */
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size:40px;
        text-align: center;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-top: 50px;
        margin-bottom: 120px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
      font-size: 16px;
      margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        text-align: center;
    }
/* 
    .container{
        margin-bottom: 15px;
    }
    .slider{
        height: 100vh;
    } */

    #services{
        margin-top: 550px;
    }

    .sub-title{
       text-align: center;
       margin-bottom: 20px;
    }
    #services .sub-title{
        margin-right: 15%;
    }
     #contact{
        margin-bottom: 10px;
        margin-top: 170px;
    }
    #copyright{
        margin-top: 250px;
     
    }

    .modal {
        color: #fff;
        user-select: none;
        background: rgba(255, 255, 255, 0.2);
        width: 400px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        height: fit-content;
      }
      .modal__header{
        font-size: 20px;
      }

      .btn--close-modal{
        font-size: 27px;
        right: 15px;
      }

    } 
